<div *ngIf="data" class="col-lg-6 col-md-9 col-12 mt">
    <strong>Tiempo de:</strong>
    <h1>{{data.name}} <small>{{data.sys.country}}</small></h1>
    <div class="d-flex">
        <div class="col-lg-6 col-md-4 col-4">
            <img id="wicon" src="http://openweathermap.org/img/wn/{{data.weather[0].icon}}@2x.png" alt="Weather icon">
        </div>
        <div class="col-lg-6 col-md-8 col-8 np tmp">
            <p class="actual">{{data.main.temp}} °C</p>
            <p><fa-icon [icon]="faArrowDown"></fa-icon> {{data.main.temp_min}} °C / <fa-icon [icon]="faArrowUp"></fa-icon> {{data.main.temp_max}} °C</p>
        </div>
    </div>
    <p><small>{{data.weather[0].description}}</small></p>
    <div class="col-lg-12 col-md-12 col-12 d-flex flex-wrap">
        <strong class="col-lg-4 col-md-4 col-4">Presión:</strong>
        <span class="col-lg-8 col-md-8 col-8 text-center">{{data.main.pressure}} hPa</span>
    </div>
    <div class="dropdown-divider"></div>
    <div class="col-lg-12 col-md-12 col-12 d-flex flex-wrap">
        <strong class="col-lg-4 col-md-4 col-4">Humedad:</strong>
        <span class="col-lg-8 col-md-8 col-8 text-center">{{data.main.humidity}} %</span>
    </div>
    <div class="dropdown-divider"></div>
    <div class="col-lg-12 col-md-12 col-12 d-flex flex-wrap">
        <strong class="col-lg-4 col-md-4 col-4">Visibilidad:</strong>
        <span class="col-lg-8 col-md-8 col-8 text-center">{{data.visibility}} m</span>
    </div>
    <div class="dropdown-divider"></div>
    <div class="col-lg-12 col-md-12 col-12 d-flex flex-wrap">
        <strong class="col-lg-4 col-md-4 col-4">Viento:</strong>
        <span class="col-lg-8 col-md-8 col-8 text-center">{{data.wind.speed}} m/s</span>
    </div>
</div>
<hr>
<div class="container" *ngIf="!activo">
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-secondary" (click)="verMas()">Ver más</button>
      </div>
    </div>
</div>
<div *ngIf="moreData && activo" class="col-lg-6 col-md-9 col-12 mt text-center">
    <h4>Pronóstico de los próximos días:</h4>
    <div *ngFor="let hora of horas">
        <div class="col-lg-12 col-md-12 col-12 d-flex flex-wrap">
            <strong class="col-lg-4 col-md-4 col-4 pl">Fecha:</strong>
            <span class="col-lg-8 col-md-8 col-8 text-center">{{hora.dt_txt}}</span>
        </div>
        <div class="col-lg-12 col-md-12 col-12 d-flex flex-wrap">
            <div class="col-lg-4 col-md-4 col-4">
                <img id="wicon" src="http://openweathermap.org/img/wn/{{hora.weather[0].icon}}@2x.png" alt="Weather icon">
            </div>
            <span class="col-lg-8 col-md-8 col-8 text-center">{{hora.weather[0].description}}
            <br> <fa-icon [icon]="faArrowDown"></fa-icon> {{hora.main.temp_min}}°C / <fa-icon [icon]="faArrowUp"></fa-icon> {{hora.main.temp_max}}°C</span>
        </div>
        <div class="dropdown-divider"></div>
    </div>
</div>
